<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lezhintask.mapper.ContentMapper">
    <!-- 작품 조회 이력 쿼리 -->
    <select id="selectViewHistoryByContentId" resultType="com.lezhintask.dto.ContentDto">
        SELECT C.TITLE, U.ID AS USER_ID, CVH.VIEWED_AT
        FROM CONTENT_VIEW_HISTORY CVH
        INNER JOIN USERS U ON CVH.USER_ID = U.ID
        INNER JOIN CONTENT C ON CVH.CONTENT_ID = C.ID
        <where>
            <if test="contentId != null">
                AND CVH.CONTENT_ID = #{contentId}
            </if>
        </where>
        ORDER BY C.TITLE, CVH.VIEWED_AT DESC
    </select>

    <!-- 인기 작품 상위 10개 조회 쿼리 -->
    <select id="selectTopViewContent" resultType="com.lezhintask.dto.ContentDto">
        SELECT C.TITLE, COUNT(CVH.CONTENT_ID) AS VIEW_COUNT
        FROM CONTENT_VIEW_HISTORY CVH
                 INNER JOIN CONTENT C ON CVH.CONTENT_ID = C.ID
        GROUP BY CVH.CONTENT_ID
        ORDER BY VIEW_COUNT DESC LIMIT 10
    </select>

    <!-- 작품 정보 조회 쿼리 -->
    <select id="selectContentInfo" resultType="com.lezhintask.dto.ContentDto">
        SELECT C.ID AS CONTENT_ID,
               CASE WHEN CFP.ID != NULL THEN 0 ELSE C.PRICE END AS PAYMENT_PRICE,
            CFP.ID AS PROMOTION_ID, C.IS_ADULT AS IS_ADULT_CONTENT
        FROM CONTENT C
            LEFT JOIN CONTENT_FREE_PROMOTION CFP ON C.ID = CFP.CONTENT_ID
        WHERE C.ID = #{contentId}
    </select>

    <!-- 작품 구매 정보 저장 쿼리 -->
    <insert id="insertPurchase">
        INSERT INTO CONTENT_PURCHASE (ID, USER_ID, CONTENT_ID, PROMOTION_ID, PAYMENT_PRICE)
        VALUES (UUID(), #{userId}, #{contentInfo.contentId}, #{contentInfo.promotionId}, #{contentInfo.paymentPrice})
    </insert>

    <!-- 구매 인기 작품 상위 10개 조회 쿼리 -->
    <select id="selectTopPurchaseContent" resultType="com.lezhintask.dto.ContentDto">
        SELECT CP.CONTENT_ID, C.TITLE, COUNT(*) AS PURCHASE_COUNT
        FROM CONTENT_PURCHASE CP
        INNER JOIN CONTENT C ON CP.CONTENT_ID = C.ID
        GROUP BY CP.CONTENT_ID
        ORDER BY PURCHASE_COUNT DESC
        LIMIT 10
    </select>

    <!-- 작품 삭제 -->
    <delete id="deleteContentById">
        DELETE
        FROM CONTENT
        WHERE ID = #{contentId}
    </delete>

    <!-- 작품 전체 조회 이력 삭제 -->
    <delete id="deleteViewHistoryByContentId">
        DELETE
        FROM CONTENT_VIEW_HISTORY
        WHERE CONTENT_ID = #{contentId}
    </delete>
</mapper>