<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lezhintask.mapper.UserMapper">
    <!-- 유저 정보 저장 쿼리 -->
    <insert id="insertUser">
        INSERT INTO USER (ID, PASSWORD, IS_ADULT)
        VALUES (#{userId}, #{password}, #{isAdult})
    </insert>

    <!-- 유저 정보 조회 쿼리 -->
    <select id="findByUserId" resultType="com.lezhintask.dto.UserDto">
        SELECT ID AS USER_ID, PASSWORD AS PASSWORD, IS_ADULT AS IS_ADULT
        FROM USER
        WHERE ID = #{userId}
    </select>
</mapper>